/* Reset some default styles to ensure consistency */
body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color for the entire page */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #1472bc;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.tabs
{
    display: flex;
    justify-content: center;
}

.tabs h2 {
    margin: 0;
    cursor: pointer;
}

.tabs h2 a
{
    color: #f5f5f5;
    padding: 30px;
    text-decoration: none;
}

.tabs h2 a:hover 
{
    color: lightgray;
}

/* Style the main content area */
main {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Style the candidate list on the 'Home' tab */
main ul {
    list-style-type: none;
    padding-left: 20px;
}

main ul li {
    margin-bottom: 10px;
}

/* Style the footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}

/* Add styles for the 'Vote' and 'About' tabs as needed */
         