body
{
    margin: 0;
    font-family: sans-serif;
}

.main
{
    height: 100vh;
    background-color: lightblue;
    display: flex;
}

.image-container
{
    height: 100vh;
    width: 30vw;
    background-color: #ffffff;
    position: relative;
    background-color: #1478bc;
}

.container
{
    height: 100vh;
    width: 70vw;
    background-color: #f5f5f5;
    display: flex;
}

#submit
{
    border: none;
    color: white;
    background-color: #1478bc;
    padding: 14px 36px;
    border-radius: 13px;
    font-size: 22px;
    cursor: pointer;
}

#submit:hover
{
    color: white;
    background-color: #1994e6;   
}

#logo
{
    position: absolute; 
    height: 300px;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-top: 360px;
    margin-left: 49px;
    
}

#logo:hover
{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: .2s;
    height: 315px;
    margin-left: 39px;
}


.text
{
    margin-top: 120px;
    margin-left: 240px;
    font-size: 48px;
    color: #1478bc;
}

#desc
{
    margin-left: 240px;
    color: lightgray;
}

#title
{
    margin-top: 0px;
    margin-bottom: 0px;
}

#desc
{
    margin-top: 4px;
}

.input-fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1344px;
}

.fields {
    font-size: 20px;
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 14px;
    margin-left: 10px;
    margin-bottom: 10px; 
    width: 450px;
}

label {
    font-size: 20px;
    margin-bottom: 5px;
}
